## First list of exercises

#### Ordered from the easiest to the "hardest"

1) Write a function that takes an integer minutes and converts it to seconds. <font color='green'>(EASY)</font>

In [2]:
def min_to_sec(m):
    return m*60

In [3]:
min_to_sec(10)

600

2) Create a function that converts a date formatted as MM/DD/YYYY to YYYYDDMM. The input is a string!

In [6]:
def change_date(date):
    d = date.split("/")
    return d[2]+d[1]+d[0]

In [7]:
change_date("03/10/2021")

'20211003'

3) A typical car can hold four passengers and one driver, allowing five people to travel around. Given n number of people, `return` how many cars are needed to seat everyone comfortably.

In [12]:
import math
def people_car(n):
    return math.ceil(n/5)

In [13]:
people_car(11)

3

4) Create a function that replaces all the vowels in a string with the character '#'.

In [20]:
def vowel_rep(string):
    vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
    for v in vowels:
        string = string.replace(v,"#")
    return string

In [21]:
vowel_rep("VitOria")

'V#t#r##'

5) Write a function that inverts the keys and values of a dictionary.

In [23]:
def inv_dict(dic):
    dic = {value: key for key, value in dic.items()}
    return dic

In [24]:
inv_dict({'a':1,'b':2,'c':3})

{1: 'a', 2: 'b', 3: 'c'}

6) Create a function that takes a list of strings and return a list, sorted from shortest to longest.

In [27]:
def sort_strings(ls):
    ls.sort(key=len)
    return ls

In [29]:
sort_strings(['asdada','sdas','z','a'])

['z', 'a', 'sdas', 'asdada']

7) Create a function that returns True if the first list is a subset of the second. Return False otherwise.

In [30]:
def is_sub(fl, sl):
    return set(fl) <= set(sl)

In [31]:
is_sub([1,4], [1,6,4,5])

True

In [32]:
is_sub([1,4,9], [1,6,4,5])

False

8) Create a function that takes an integer and returns the factorial of that integer. That is, the integer multiplied by all positive lower integers.

In [33]:
def fact(i):
    if i == 0 or i == 1:
        return 1
    return i*fact(i-1)

In [34]:
fact(4)

24

In [35]:
fact(0)

1

9) Create a function that takes a number as an argument and returns how many times it is multiple of 3.

In [36]:
def pot_3(n):
    i = 0
    while n%3 == 0:
        i += 1
        n = n/3
    return i

In [37]:
pot_3(27)

3

In [38]:
pot_3(81)

4

In [39]:
pot_3(162)

4

10) Create a function that sorts a list and removes all duplicate items from it. (Don't use 'set')

In [42]:
def sort_list(l):
    return sorted(list(dict.fromkeys(l)))

In [46]:
sort_list([3,7,10,11,10,4,3])

[3, 4, 7, 10, 11]